@import "./tailwind.css";
:root {
  --primary: #006400; /* Dark green suitable for financial applications */
  --on-primary: #ffffff; /* White text on primary */
  --primary-container: #e9fcfb; /* Very light teal, less green */
  --on-primary-container: #004d40; /* Dark teal text on primary container */
  --secondary: #388e3c; /* Medium green */
  --on-secondary: #ffffff; /* White text on secondary */
  --secondary-container: #c8e6c9; /* Soft light green */
  --on-secondary-container: #1b5e20; /* Dark green text on secondary container */
  --background: #fafafa; /* Neutral off-white background */
  --on-background: #263238; /* Dark slate-gray text, professional and readable */
  --positive: #a5e75a;
  --negative: #ff093d;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.unit {
  @apply text-xs font-light;
}
