@import "tailwindcss";
@theme {
  --color-primary: var(--primary);
  --color-on-primary: var(--on-primary);
  --color-primary-container: var(--primary-container);
  --color-on-primary-container: var(--on-primary-container);
  --color-secondary: var(--secondary);
  --color-on-secondary: var(--on-secondary);
  --color-secondary-container: var(--secondary-container);
  --color-on-secondary-container: var(--on-secondary-container);
  --color-background: var(--background);
  --color-on-background: var(--on-background);
  --color-positive: var(--positive);
  --color-negative: var(--negative);    
}
